<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.min.css">
</head>

<body>
  <header>
    <img class="logo" src="/img/vue.png" alt="">
    <nav class="nav">
      <a class="active" href="/html/">HTML</a>
      <a href="/css/">CSS</a>
      <a href="/js/">JavaScript</a>
      <a href="/jquery/">jQuery</a>
    </nav>
  </header>
  <section>
    <h1>I HAVE A DREAM</h1>
    <h2>一、Google工作法</h2>
    <ul>
      <li>路见不平拔刀相助</li>
      <li>纸上得来终觉浅</li>
      <li>人在江湖飘，哪能不挨刀</li>
      <li>你拍一我拍一</li>
    </ul>
    <h2>二、Saying Good-bye to Cambridge Again</h2>
    <p>Saying Good-bye to Cambridge Again
      --by Xu Zhimo
      Very quietly I take my leave
      As quietly as I came here;
      Quietly I wave good-bye
      To the rosy clouds in the western sky.
      The golden willows by the riverside
      Are young brides in the setting sun;
      Their reflections on the shimmering waves
      Always linger in the depth of my heart.
      The floating heart growing in the sludge
      Sways leisurely under the water;
      In the gentle waves of Cambridge
      I would be a water plant!
      That pool under the shade of elm trees
      Holds not water but the rainbow from the sky;
      Shattered to pieces among the duck weeds
      Is the sediment of a rainbow-like dream?
      To seek a dream?
      Just to pole a boat upstream
      To where the green grass is more verdant;
      Or to have the boat fully loaded with starlight
      And sing aloud in the splendor of starlight.
      But I cannot sing aloud
      Quietness is my farewell music;
      Even summer insects keep silence for me
      Silent is Cambridge tonight!</p>
    <p>轻轻的我走了，

      正如我轻轻的来；

      我轻轻的招手，

      作别西天的云彩。

      那河畔的金柳，

      是夕阳中的新娘；

      波光里的艳影，

      在我的心头荡漾。</p>

    <h2>三、CSS 揭秘</h2>
    <form class="form" action="">
      <label for="name">
        <span>姓名：</span><input type="text" id="name" name="name"></label>
      <label for="password">
        <span>密码：</span><input type="text" id="password" name="password"></label>
      <button class="btn">提交</button>
    </form>

  </section>
  <footer>
    <p>Copyright@2020</p>
  </footer>



</html>